body
{
    background-image: url(Geo_Mayhem_Nature.gif);
    background-size: cover;

}
div box1{
    background-color: #124559;
    opacity: 40%;
    width: 80%;
    padding: 10%;
}


p {
    font-size: 50px;
    
}