body {
    background-image: url(Geo_Mayhem_Nature.gif);
    background-size: cover;
#background_Img {
size: cover;
opacity: 25%;
}
#main_Title{
    center;
}
p {
    col;;
    font-size: 25px;
    
}