body
{
    background-image: url(Geo_Mayhem_Nature.gif);
    background-size: cover;
    
}
.box{
background-color:rgba(0, 0, 0, 0.4);
padding: 10%;
}

.button_TitlePage {
    transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 30px;
    background-color : transparent;
    padding: 10px;
    margin: 20px;
    outline: none;
    border-radius: 4px;
    display: flex;
}
.button_DifficultyPage{
    color: #fff;
    border: 3px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 30px;
    background-color : transparent;
    padding: 10px;
    margin: 20px;
    outline: none;
    border-radius: 4px;
    display: flex;
    align-content: center;
}
.button_TitlePage:hover {
    color: #001F3F;
    background-color: #fff;
}

.main_Title{
    text-align: center;
    color: white;
    font-size: 40px;
}


#Copyright
{
    font-size: 20px;
    text-align: center;
    color: white;
}


.imgbox {
    display: grid;
    height: 100%;
}
.cityPhoto {
    display: grid;
    padding-top: 20px;
    object-fit: contain;
}

.loadingPhoto{
    object-fit: contain;

}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    display: grid;
}

.textarea{
    margin: auto;
    text-align: center;
    display: center;
    padding-top: 20px;
    object-fit: contain;
  }

.loadingText{
 text-align: center;
}
